#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vending_machine {
  border: 2px solid black;
  background: linear-gradient(180deg, rgba(15,110,229,1) 0%, rgba(4,31,64,1) 95%, rgba(0,0,0,1) 100%);
  position: relative;
  width: 500px;
  height: 700px;
}

.bottle_display {
  border: 2px inset black;
  border-radius: 5px;
  background: linear-gradient(104deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 23%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 27%, rgba(255,255,255,0.1) 28%, rgba(255,255,255,0.1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 61%, rgba(255,255,255,.1) 62%), url("/images/vending_display.png");
  width: 350px;
  height: 500px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.dispenser {
  border: 1px solid black;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 60%, rgba(82,82,82,1) 100%);
  width: 150px;
  height: 80px;
  position: absolute;
  top: 550px;
  left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.dispenser_catch {
  width: 160px;
  height: 25px;
  background: black;
  z-index: 1;
}

.junk_food {
  border: 1px solid black;
  background: linear-gradient(180deg, rgba(62, 31, 31, 1) 0%, rgba(255, 0, 0, 1) 35%, rgba(56, 6, 6, 1) 100%);
  width: 100px;
  height: 40px;
  font-weight: bold;
  position: relative;
  top: 10px;
  line-height: 40px;
  font-style: italic;
}

.digital_display {
  border: 1px inset black;
  font-family: "Courier New";
  font-weight: bold;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 75px;
  left: 386px;
  background: linear-gradient(180deg, rgba(33, 45, 60, 1) 0%, rgba(57, 57, 57, 0.9878151944371498) 43%, rgba(34, 34, 34, 1) 100%);
  color: red;
  text-shadow: 3px 3px 9px rgba(242, 14, 22, 1), 2px 2px 6px rgba(237, 9, 9, 1);
  text-align: center;
}

.coin_slot {
  border: 1px solid black;
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 60%, rgba(82,82,82,1) 100%);
  position: absolute;
  width: 7px;
  height: 40px;
  top: 200px;
  right: 10px;
}

.selection_button {
  border: 1px solid white;
  background: linear-gradient(180deg, rgba(255,154,154,1) 0%, rgba(255,0,0,1) 12%, rgba(255,0,0,1) 82%, rgba(166,0,0,1) 100%), linear-gradient(45deg, rgba(255,154,154,1) 0%, rgba(255,0,0,1) 12%, rgba(255,0,0,1) 82%, rgba(166,0,0,1) 100%);
  position: absolute;
  width: 100px;
  height: 75px;
  line-height: 75px;
  top: 260px;
  right: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  font-weight: bold;
}

.refund_button {
  border: 1px solid white;
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 60%, rgba(82,82,82,1) 100%);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 195px;
  right: 30px;
  border-radius: 10px;
}

.change_receptacle {
  border: 1px solid black;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 60%, rgba(82,82,82,1) 100%);
  width: 34px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 590px;
}

.change {
  height: 30px;
  width: 34px;
  background-size: cover;
  background: url("/images/coins.png") no-repeat, linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 60%, rgba(82,82,82,1) 100%);
}
